{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block title %}اضافه کردن کتاب جدید{% endblock title %}

{% block content %}
    <div class="container mt-3">
        <form action="" method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <button class="btn btn-success" type="submit">ایجاد</button>
        </form>
        <br>
        <a  href="{% url 'book_list' %}">لیست همه ی کتاب ها</a>
    </div>
{% endblock %}